*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.outlet-schedule{
    padding: 40px 100px;
    gap: 10px;
    display: flex;
    // justify-content: space-around;
}
.outlet-schedule-2{

}

.main-layout{
    padding: 40px;
    background: #fff;
    display: flex;
    align-items: start;
    .logo{
        padding: 47px 109px 0 38px;
        gap: 10px;
        display: flex;
      
      }
    nav{
        min-width: 300px;
        padding: 40px;
        ul{
           padding: 48px 38px 480px 38px;
            display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .li-btn{
            background: #fff;
            display: flex;
            border: none;
        }
        button{
            align-items: center;
            background: blue;
            color: #fff;
            min-width: 200px;
            height: 50px;
            border-radius: 8px;
            gap: 10px;
            
        }
        li{
                    
            color: rgba(163, 174, 208, 1);
            cursor: pointer;
           
        }
        }
    }
    section{
        padding-top: 50px;
        border: 1px solid black;
        flex: 1;
        width:100%;
        min-height: 80vh;
        background: rgb(204, 211, 226);
        nav{
            display: flex;
            align-items: center;
            justify-content: space-between;
            input{
                border: none;
                width: 300px;
                height: 50px;
                border-radius: 8px;
                &:hover{
                    border: 3px solid purple;
                }
            }
            h1{
                color: rgba(43, 54, 116, 1);
                font-weight: 700;
                font-size: 34px;
                line-height: 42px;
                letter-spacing: -2%;
            }
            h4{
                color: rgba(112, 126, 174, 1);
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: -2%;
            }
        }
    }
   
}
.top-nav{
    display: flex;
    gap: 10px;
}
.img{
    display: flex;
  justify-content: space-around;
  padding: 0 50px;
}
